{% extends 'layout.html.twig' -%}

{%- block css -%}
    {{- parent() -}}
    <link href="{{ asset('/css/base.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block javascript %}
    {{- parent() -}}
    <script src="{{ asset('/js/copypaste.js') }}"></script>
{% endblock %}

{%- block header -%}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('paste_new') }}">{{ 'header_title' | trans }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% block header_menu_left_items %}
                    <li{% if app.request.attributes.get('_route') == 'copypaste_new' %} class="active"{% endif %}>
                        <a href="{{ path('paste_new') }}"><span class="glyphicon glyphicon-plus-sign"></span> {{ 'header_menu_add' | trans }}</a>
                    </li>
                    <li>
                        <a href="{#{{ path('about') }}#}"><span class="glyphicon glyphicon-info-sign"></span> {{ 'header_menu_about' | trans }}</a>
                    </li>
                    {% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% block header_menu_right_items %}
                    <li><a href="https://bitbucket.org/skobkin/copypaste2/wiki/API" target="_blank">{{ 'header_menu_api' | trans }}</a></li>
                    {% endblock %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{%- endblock -%}

{%- block sidebar -%}
    {{ render(controller('App\\Controller\\PasteController::sidebarAction')) }}
{%- endblock -%}

{% block content %}{% endblock %}
